/*html, body, section.screen{ width:100%; height:100%; padding: 0; margin: 0; position: absolute; overflow: hidden; }
section.screen div#messages{ width: 100%; height:calc(100% - 65px); position: relative;}
section.screen div#messages section.usable{ width:100%; height:100%; padding: 0; margin: 0; position: relative;}
section.screen div#messages section.usable aside{ height: 100%; position: relative;}
section.screen div#messages section.usable aside.content-bar{margin:0; padding:10px;}
section.screen div#messages section.usable aside.content-bar:hover{overflow-y:auto;}
section.screen div#messages section.usable aside.info-bar{ margin:-1; padding:0;}
section.screen div#messages section.usable aside.info-bar aside.icons-bar{width: 80px;}
section.screen div#messages section.usable aside.info-bar aside.messages-bar{padding:0; width: calc(100% - 82px); border-left:1px solid #ccc; border-right:1px solid #ccc;overflow-y:scroll;}
section.screen div#messages section.usable aside.info-bar aside.messages-bar ul.collection, ul.collection li.collection-item{ min-width: 100% !important; }
section.screen div#messages section.usable aside.info-bar aside.messages-bar ul.collection li.collection-item:hover{background-color: #fff8e1; color:black; cursor: pointer;}
section.screen div#messages section.usable aside.info-bar aside.messages-bar ul.collection li.collection-item.active{background-color: #ffab00; color:black; cursor: pointer;}
ul li a i.material-icons.inline, ul li i.material-icons.inline {display: inline !important;}
.main-btn{position: fixed; z-index: 10; bottom:65px; right: calc(-1 * 100% + 85px);}
aside.icons-bar ul.collection li.collection-item{ color: #777 }
aside.icons-bar ul.collection li.collection-item:hover{ color: #222; background: #bbb; cursor: pointer; }
aside.icons-bar ul.collection li.collection-item.active{ color: black; background: #aaa; }
#logo{width: 95%;}
.aceptar:hover{color:#00e676 !important; cursor: pointer;}
.rechazar:hover{color:#d50000 !important; cursor: pointer;}*/
html,body,.fullDisplay{width:100%;height:100%;position:absolute;}
html,body,section,aside,header,nav,div#nav-left-container,div#primary-view{height:100%;position:relative;margin:0;padding:0 !important;overflow:hidden;}
section#loading{background-color:#333;color:white}
.hidden{display:none;}
.visible{display:block !important;}
section#body-app{width:100%;height:calc(100% - 60px);position:relative;}
div#primary-view,aside#secondary-view{height:100%;}
aside#icons-bar{width:65px !important;}
aside#data-bar,li#search-container{width:calc(100% - 65px) !important;overflow-y:auto;}
aside#secondary-view:hover{overflow-y:auto;}
#nav-menu{width:100%;position:relative;}
li#menu-launcher{width:65px !important;}
@media only screen and (max-width: 600px){
  #main-btn{position:fixed;bottom:18px;right:20px;}
}
@media only screen and (min-width:601px) and (max-width: 992px){
  #main-btn{position:fixed;bottom:18px;right:calc(50% + 20px);}
}
@media only screen and (min-width: 993px){
  #main-btn{position:fixed;bottom:18px;right:calc(58.4% + 20px);}
}
/*collections*/
ul.collection li{cursor:pointer}
/*scrollbar for chrome*/
aside::-webkit-scrollbar {
    width: 7px;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline:none;
}
/*indexes*/
.index-0{z-index:initial;}
.index-1{z-index:1;}
.index-2{z-index:2;}
.index-3{z-index:3;}
.index-4{z-index:4;}
.index-5{z-index:5;}
.index-6{z-index:6;}
/*css typing*/
.typing{margin: 10px 0 0 10px;white-space: nowrap;overflow: hidden;width: 5.5em;animation: type 2.5s steps(60, end);}
.typing:nth-child(2){animation: type2 5s steps(60, end);}
.typing a{text-decoration: none;}
span.pipe{animation:blink 1s infinite;}
@keyframes type{from{width:0;}}
@keyframes type2{0%{width:0;}50%{width:0;}100%{width:100;}}
@keyframes blink{to{opacity: .0;}}
::selection{background: black;}
/*flex rules*/
.flexible{display:flex;}
.in-row{flex-direction:row;}
.in-row-reverse{flex-direction:row-reverse;}
.in-column{flex-direction:column;}
.in-column-reverse{flex-direction:column-reverse;}
.wrap-on{flex-wrap:wrap;}
.wrap-on-reverse{flex-wrap:wrap-reverse;}
.wrap-off{flex-wrap:nowrap;}
.on-start{justify-content:flex-start;}
.on-end{justify-content:flex-end;}
.is-centered{justify-content:center;}
.is-spaced{justify-content:space-between;}
.is-balanced{justify-content:space-around;}
.align-start{align-items:flex-start;}
.align-end{align-items:flex-end;}
.align-center{align-items:center}
.align-spaced{align-items:space-between;}
.align-balanced{align-items:space-around;}
.self-start{align-self:flex-start;}
.self-end{align-self:flex-end;}
.self-center{align-self:center}
.self-spaced{align-self:space-between;}
.self-balanced{align-self:space-around;}
.order--10{order:-10;}
.order--9{order:-9;}
.order--8{order:-8;}
.order--7{order:-7;}
.order--6{order:-6;}
.order--5{order:-5;}
.order--4{order:-4;}
.order--3{order:-3;}
.order--2{order:-2;}
.order--1{order:-1;}
.order-0{order:0;}
.order-10{order:10;}
.order-9{order:9;}
.order-8{order:8;}
.order-7{order:7;}
.order-6{order:6;}
.order-5{order:5;}
.order-4{order:4;}
.order-3{order:3;}
.order-2{order:2;}
.order-1{order:1;}
.grow-5{flex-grow:5;}
.grow-4{flex-grow:4;}
.grow-3{flex-grow:3;}
.grow-2{flex-grow:2;}
.grow-1{flex-grow:1;}
